@page "/terms"
@using Microsoft.AspNetCore.Components
@layout LayoutClient

<div class="container-fluid">
    <div style="text-align: center;">
        <h2 class="mt-3 mb-2 green-title">ĐIỀU KHOẢN</h2>
    </div>
    <h3 class="mb-3">1. Giới thiệu</h3>
    <p class="fs-5">
        Chào mừng bạn đến với hệ thống rạp chiếu phim của chúng tôi. Việc sử dụng dịch vụ của bạn được hiểu là
        bạn đã đồng ý với các điều khoản và điều kiện dưới đây.
    </p>

    <h3 class="mb-3">2. Quy định chung</h3>
    <p class="fs-5">Khách hàng cần cung cấp thông tin chính xác khi mua vé hoặc sử dụng dịch vụ.</p>
    <p class="fs-5">Không hoàn trả vé sau khi đã thanh toán, trừ trường hợp hủy suất chiếu bởi rạp.</p>
    <p class="fs-5">Không mang đồ ăn, thức uống bên ngoài vào khu vực rạp.</p>

    <h3 class="mb-3">3. Quyền và trách nhiệm của khách hàng</h3>
    <p class="fs-5">
        Bạn có quyền yêu cầu dịch vụ chất lượng cao và an toàn. Vui lòng liên hệ với chúng tôi nếu có bất kỳ
        vấn đề gì cần hỗ trợ.
    </p>

    <h3 class="mb-3">4. Quyền và trách nhiệm của rạp</h3>
    <p class="fs-5">
        Chúng tôi cam kết cung cấp dịch vụ chất lượng tốt nhất và bảo vệ quyền lợi của khách hàng theo pháp
        luật.
    </p>

    <h3 class="mb-3">5. Thay đổi điều khoản</h3>
    <p class="fs-5">
        Chúng tôi có quyền thay đổi điều khoản mà không cần báo trước. Vui lòng cập nhật thường xuyên để đảm
        bảo bạn hiểu rõ các điều khoản mới nhất.
    </p>
</div>

@code {
    
}
<style>
    .green-title {
        color: limegreen; /* Màu chữ xanh lá cây */
        border: 1px solid limegreen; /* Đường viền màu xanh lá cây */
        padding: 10px; /* Thêm khoảng cách giữa chữ và viền */
        border-radius: 8px; /* Bo góc cho đường viền */
        display: inline-block; /* Để viền chỉ bao quanh chữ */
        font-weight: bold;
    }

</style>