@page "/"
@layout LayoutClient
@using NeonCinema_Client.Data.IServices.FlimsUser
@using NeonCinema_Client.Data.IServices.User
@using NeonCinema_Client.DataTransferObject.MovieData
@inject IFlimUsers _filmsServices
@inject NavigationManager _navi

<body>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/Client/slide1.jpg" class="d-block w-100" alt="Slide 1" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="images/Client/slide2.jpg" class="d-block w-100" alt="Slide 2" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="images/Client/slide3.jpg" class="d-block w-100" alt="Slide 3" loading="lazy">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="card_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="owl-carousel slider_carousel">
                        <div class="card movie-card">
                            <img src="/images/Client/cam.jpg" class="card-img-top" loading="lazy">
                            <div class="card-body">
                                <div class="tags mb-2">
                                    <span class="badge bg-danger">18</span>
                                    <span class="badge bg-dark">Phụ đề</span>
                                    <span class="badge bg-success">3D</span>
                                </div>
                                <h5 class="card-title">CÁM</h5>
                                <p class="card-text">Thể loại phim: <span class="genre">Horror</span></p>
                                <button class="btn buy-ticket-btn" @onclick="() => OpenDialog()">
                                    <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                </button>
                            </div>
                        </div>
                        <div class="card movie-card">
                            <img src="/images/Client/cam.jpg" class="card-img-top" loading="lazy">
                            <div class="card-body">
                                <div class="tags mb-2">
                                    <span class="badge bg-danger">18</span>
                                    <span class="badge bg-dark">Phụ đề</span>
                                    <span class="badge bg-success">3D</span>
                                </div>
                                <h5 class="card-title">CÁM</h5>
                                <p class="card-text">Thể loại phim: <span class="genre">Horror</span></p>
                                <button class="btn buy-ticket-btn" @onclick="() => OpenDialog()">
                                    <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                </button>
                            </div>
                        </div>
                        <div class="card movie-card">
                            <img src="/images/Client/cam.jpg" class="card-img-top" loading="lazy">
                            <div class="card-body">
                                <div class="tags mb-2">
                                    <span class="badge bg-danger">18</span>
                                    <span class="badge bg-dark">Phụ đề</span>
                                    <span class="badge bg-success">3D</span>
                                </div>
                                <h5 class="card-title">CÁM</h5>
                                <p class="card-text">Thể loại phim: <span class="genre">Horror</span></p>
                                <button class="btn buy-ticket-btn" @onclick="() => OpenDialog()">
                                    <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                </button>
                            </div>
                        </div>
                        <div class="card movie-card">
                            <img src="/images/Client/cam.jpg" class="card-img-top" loading="lazy">
                            <div class="card-body">
                                <div class="tags mb-2">
                                    <span class="badge bg-danger">18</span>
                                    <span class="badge bg-dark">Phụ đề</span>
                                    <span class="badge bg-success">3D</span>
                                </div>
                                <h5 class="card-title">CÁM</h5>
                                <p class="card-text">Thể loại phim: <span class="genre">Horror</span></p>
                                <button class="btn buy-ticket-btn" @onclick="() => OpenDialog()">
                                    <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<ChooseShowTimeDialog @ref="chooseSTD" OnClose="OnDialogClose" />



    @code {
        private ChooseShowTimeDialog? chooseSTD;
        private List<MovieData> _lstMovies = new List<MovieData>();
        protected override async Task OnInitializedAsync()
        {

        }
        private string GetImageUrl(string imageUrl)
        {
            return $"https://localhost:7211/Resources/{imageUrl}";
        }

        private void OpenDialog()
        {
            chooseSTD?.Open();
        }
       
        private void OnDialogClose()
        {
            // Logic xử lý khi dialog đóng (nếu cần)
        }
    }
</body>
