@page "/movie-details"

<body>
    <div class="container-fluid">
        <div class="row movie-detail-background">
            <div class="col-md-6">
                <div class="img-movie-detail">
                    <img src="/images/Client/cam.jpg" alt="Movie Poster" class="img-fluid rounded shadow">
                </div>
            </div>

            <!-- Thông tin phim bên phải -->
            <div class="col-md-6">
                <h2 class="title">CÁM</h2>
                <p class="description">Dị bản kinh dị đẫm máu lấy cảm hứng từ truyện cổ tích nổi tiếng Tấm Cám, nội dung chính của phim xoay quanh Cám – em gái cùng cha khác mẹ của Tấm.</p>
                <p>
                    <strong>Phân loại:</strong>
                    <span class="badge bg-danger">T18</span>
                    <span class="text-muted">Phim phổ biến đến người xem từ 18 tuổi trở lên</span>
                </p>
                <p>
                    <strong>Định dạng:</strong>
                    <span class="badge bg-success">2D</span>
                </p>
                <p><strong>Đạo diễn:</strong> <span class="text-info">Trần Hữu Tấn</span></p>
                <p><strong>Diễn viên:</strong> <span class="text-info">Rima Thanh Vy, Thúy Diễm, NSƯT Ngọc Hiệp</span></p>
                <p><strong>Khởi chiếu:</strong> <span class="text-info">20/09/2024</span></p>
                <p><strong>Thể loại:</strong> <span class="text-info">Horror</span></p>
                <p><strong>Thời lượng:</strong> <span class="text-info">122 phút</span></p>
                <p><strong>Ngôn ngữ:</strong> <span class="text-info">Phụ đề</span></p>
            </div>
        </div>

        <!-- Trailer phim -->
        <div class="row mt-4">
            <div class="col-12">
                <h4 class="trailer-title">Trailer</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="w-100" height="500" src="https://www.youtube.com/embed/6A0nJ_sJzCk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>

@code {

}
