@page "/admin-dashboard"
@inherits LayoutComponentBase
@inject ILocalStorageService _localstorage
@using Blazored.LocalStorage
@inject HttpClient _http
@using MudBlazor
@inject NavigationManager _navi
@using NeonCinema_API.Controllers.Service
@attribute [Authorize(Roles = "Admin")]


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Custom CSS -->
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Outlined Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<!-- Rounded Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">




    <MudThemeProvider />
<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Dark">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">
            NEON CINEMA
        </MudText>
        <MudSpacer />
        @* <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
            <div style="display: flex; align-items: center; gap: 16px;">
                <!-- Hiển thị ảnh người dùng -->
                <MudText Typo="Typo.h6">
                    @user?.FullName
                </MudText>
                <MudAvatar Size="Size.Large">
                    @if (user != null && !string.IsNullOrEmpty(previewImage))
                    {
                        <img src="@previewImage" alt="Hình ảnh vừa chọn" style="width: 100%; height: 100%; border-radius: 50%;" />
                    }
                    else if (user != null && !string.IsNullOrEmpty(user.Images))
                    {
                        <img src="@GetImageUrl(string.IsNullOrEmpty(user?.Images) ? "avt-default.jpg" : user.Images)" alt="Hình ảnh đã tải lên" style="width: 100%; height: 100%; border-radius: 50%;" />
                    }
                </MudAvatar>

                <!-- Hiển thị tên người dùng -->

            </div>
        </MudBadge> *@
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NeonCinema_Client.Pages.Admin.Users.NavMenuAdmin />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
<!-- Tải jQuery trước Owl Carousel -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>




@code {
    private UserProfile user;
    private string previewImage = "";
    bool _drawerOpen = true;
    protected override async Task OnInitializedAsync(){
        var token = await _localstorage.GetItemAsync<string>("authToken");
        var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7211/api/User/getfrofile");
        requestMessage.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        var response = await _http.SendAsync(requestMessage);
        if (response.IsSuccessStatusCode)
        {
            user = await response.Content.ReadFromJsonAsync<UserProfile>();
        }
        StateHasChanged();
    }
    private async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            try
            {
                using var memoryStream = new MemoryStream();
                await file.OpenReadStream().CopyToAsync(memoryStream);
                memoryStream.Seek(0, SeekOrigin.Begin);
                var buffer = memoryStream.ToArray();
                previewImage = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
                user.Images = previewImage;
            }
            catch (Exception ex)
            {
                
            }
        }
    }
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    private string GetImageUrl(string imageUrl)
    {
        return $"https://localhost:7211/api/Resources/{imageUrl}";
    }
}