@page "/upload-files"
@inherits UploadFileBase

<h3>UploadFile</h3>
<InputFile OnChange="InputFileChange" multiple></InputFile>
<button class="btn btn-success" @onclick="Upload">Upload</button>
@code {

}
