@page "/staff-details/{id:guid}"
@using NeonCinema_Application.DataTransferObject.User
@layout LayoutAdmin
@using NeonCinema_Client.Data.IServices.User
@inject IUserServices UserService

<div class="container-fluid mt-5">
	<h2 class="text-center mb-4 font-weight-bold" style="margin-top:30px;">Chỉnh sửa nhân viên</h2>
	<div class="row justify-content-center">
		<div class="col-md-3 text-center mb-4 mt-5">
			<img src=@GetImageUrl(user.Images) alt="Profile" class="rounded-circle img-fluid profile-pic">
		</div>
		<div class="col-md-9" style="margin-top:10px;">
			<form>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="fullname" class="font-weight-bold">Họ và tên</label>
							<input type="text" class="form-control" id="fullname" @bind-value="user.FullName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="phone" class="font-weight-bold">Số điện thoại</label>
							<input type="text" class="form-control" id="phone" @bind-value="user.PhoneNumber">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="email" class="font-weight-bold">Email</label>
							<input type="email" class="form-control" id="email" @bind-value="user.Email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="dob" class="font-weight-bold">Ngày sinh</label>
							<input type="date" class="form-control" id="dob" @bind="age">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Giới tính</label>
							<div style="margin-left: -20px; margin-top: 5px">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="genderMale" value="Nam" checked="@IsMaleChecked" />
									<label class="form-check-label" for="genderMale">Nam</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="genderFemale" value="Nữ" checked="@IsFemaleChecked" />
									<label class="form-check-label" for="genderFemale">Nữ</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Trạng thái</label>
							<select class="form-select" @bind="status">
								<option value="Active">Đang hoạt động</option>
								<option value="InActive">Không hoạt động</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="address" class="font-weight-bold">Địa chỉ</label>
					<textarea class="form-control" id="address" rows="3" @bind="user.Adderss"></textarea>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-primary btn-lg">Lưu</button>
				</div>
			</form>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public Guid id { get; set; }
	private string? gender;
	private DateTime? age;
	private string status; // Biến để lưu trạng thái
	private bool IsMaleChecked => user.Gender == "Nam";
	private bool IsFemaleChecked => user.Gender == "Nữ";

	private UserDTO user = new UserDTO();

	protected override async Task OnInitializedAsync()
	{
		var userDto = await UserService.GetByIDUser(id, CancellationToken.None);

		if (userDto != null)
		{
			user.FullName = userDto.FullName;
			user.PhoneNumber = userDto.PhoneNumber;
			user.Email = userDto.Email;
			age = userDto.DateOrBriht; // Gán ngày sinh vào biến age
			user.Gender = userDto.Gender;
			status = userDto.Status.ToString(); // Gán trạng thái
			user.Adderss = userDto.Adderss;
			user.Images = userDto.Images;
		}
	}
	private string GetImageUrl(string imageUrl)
	{
		return $"https://localhost:7211/Resources/{imageUrl}";
	}
}
