@page "/customer-profile"
@using NeonCinema_Application.DataTransferObject.User
@using NeonCinema_Application.DataTransferObject.Utilities
@using NeonCinema_Client.Models
@using NeonCinema_Client.Pages.Clients
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt
@using NeonCinema_Client.Services.LoginSv
@layout LayoutClient
@inject LoginServices _service
@inject AuthenticationStateProvider _providee 
@inject HttpClient _http
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
<div class="profile-container">
    <div class="row">
        <div class="col-lg-12 col-md-10">
            <div class="card p-4 shadow-sm">
                <p class="profile-title">THÔNG TIN CÁ NHÂN</p>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="/images/Customer/user-icon.png" class="rounded-circle profile-img" alt="User Image" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="FullName">Họ và tên</label>
                                <input type="text" id="FullName" class="form-control" @bind="name" />
                            </div>
                            <div class="col-md-6">
                                <label for="PhoneNumber">Số điện thoại</label>
                                <input type="text" id="PhoneNumber" class="form-control" @bind="phone" />

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">

                                <label for="Email">Email</label>
                                <input type="text" id="email" class="form-control" @bind="email" />
                            </div>
                            <div class="col-md-6">
                                <label for="DateOfBirth">Ngày sinh</label>
                                <input type="text" id="DateOfBirth" class="form-control" @bind="age" />

                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="mb-3">
                                <label for="Password" class="form-label">Mật khẩu</label>
                                <div class="d-flex">
                                    <input type="password" id="Password" class="form-control" disabled />
                                    <button class="btn btn-light ms-2" @onclick="GetForm">Đổi mật khẩu</button>
                                </div>
                                @if (show)
                                {
                                    <div class="mt-3">
                                        <label for="NewPassword" class="form-label">Nhập mật khẩu mới</label>
                                        <input type="password" id="NewPassword" class="form-control" disabled  />
                                    </div>
                                    <div class="mt-3">
                                        <label for="ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>
                                        <input type="password" id="ConfirmPassword" class="form-control" disabled />
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="ShowPassword" />
                                        <label class="form-check-label" for="ShowPassword">Hiện mật khẩu</label>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="genderMale" checked @bind="gender" />
                                    <label class="form-check-label" for="genderMale">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="genderFemale" @bind="gender" />
                                    <label class="form-check-label" for="genderFemale">Nữ</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Address">Địa chỉ</label>
                            <input type="text" id="address" class="form-control" @bind="address" />
                        </div>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <span class="d-flex align-items-center" style="font-size: 30px;">Lịch sử giao dịch</span>
                <input type="month" name="name" class="form-control mb-3" style="max-width: 200px; height: 50px;" />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Thời gian giao dịch</th>
                            <th scope="col">Mã hóa đơn</th>
                            <th scope="col">Tên phim</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Tổng Điểm tích lũy</th>
                            <th scope="col">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>




@code {
    private bool show = false;
    private void GetForm()
    {
        show = !show;
    }    // private UserLoginDTO userdto;
    private string name ="";
    private string email= "";
    private string phone="";
    private string address="";
    private string age=""; 
    private string gender="";

    protected override async Task OnInitializedAsync()
    {

        // ID = await _localStorage.GetItemAsync<string>("nameidentifier").Result,
        name = await _localStorage.GetItemAsync<string>("name");
        email = await _localStorage.GetItemAsync<string>("email");
        phone = await _localStorage.GetItemAsync<string>("mobilephone");
        address = await _localStorage.GetItemAsync<string>("address");
        age = await _localStorage.GetItemAsync<string>("dateofbirth");
        gender = await _localStorage.GetItemAsync<string>("gender");
        
    }
    
}
    
   
