@page "/userlistss"

<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Thông tin liên lạc</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474079tFK/anh-kinh-di-chuc-ngu-ngon_043212044.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Lê Quang Hào</p>
                        <p class="small-text">Chức vụ: nhân viên</p>  
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Ba Vì - Hà Nội</p>
                   
                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://bvhttdl.mediacdn.vn/291773308735864832/2023/11/7/z4879-1699329989409651859190-1699340955629-1699340955744695767212.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Trạm Trôi - Hoài Đức</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://cdn.thoibaonganhang.vn/stores/news_dataimages/minhvl/112020/09/10/3850_a12_Copy_2.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Kiến Xương - Thái Bình</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://www.elle.vn/wp-content/uploads/2023/03/28/522244/phim-Viet-Mat-Troi-Mua-Dong-1500x2000-1.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Kinh Môn - Hải Dương</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474079tFK/anh-kinh-di-chuc-ngu-ngon_043212044.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Ba Vì - Hà Nội</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474079tFK/anh-kinh-di-chuc-ngu-ngon_043212044.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Ba Vì - Hà Nội</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-info">
                    <div class="user-image">
                        <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474079tFK/anh-kinh-di-chuc-ngu-ngon_043212044.jpg" alt="User Image" />
                    </div>
                    <div class="user-text">
                        <p class="small-text">Họ tên: Đặng Đức Cường</p>
                        <p class="small-text">Chức vụ: khách hàng</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">hao2k4@gmail.com</p>
                    <p class="small-text">0388008268</p>
                </div>
            </td>
            <td>
                <div class="user-text">
                    <p class="small-text">Ba Vì - Hà Nội</p>

                </div>
            </td>
            <td>
                <div class="user-text">
                    <button class="dot-button">
                        <span class="dots">&#x22EF;</span>
                    </button>
                    <p style="font-size: 12px; margin: 0;"> 01/01/1990</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<style>
    .user-info {
        display: flex;
        align-items: center;
    }

    .user-image {
        margin-right: 10px; /* Khoảng cách giữa ảnh và text */
    }

        .user-image img {
            width: 40px; /* Chiều rộng của ảnh */
            height: 40px; /* Chiều cao của ảnh */
            border-radius: 100%; /* Bo góc cho ảnh */
            object-fit: cover; /* Giữ tỷ lệ khung hình của ảnh và lấp đầy vùng chứa */
        }

    .user-text .small-text {
        font-size: 12px; /* Cỡ chữ nhỏ */
        margin: 0; /* Loại bỏ margin của p */
        line-height: 1.2; /* Chiều cao dòng */
    }

    .dot-button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .dots {
        font-size: 18px;
        color: black;
    }

    /* Khi di chuột vào dấu 3 chấm, thay đổi màu thành đỏ */
    .dot-button:hover .dots {
        color: red;
    }
</style>