html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Các kiểu dáng cho Navbar */
.navbar {
    background-color: #1b1b1b;
    padding: 15px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 80px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #32cd32;
    }

.navbar-nav .nav-item .dropdown-menu {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        color: #ddd;
    }

        .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
            color: #fff;
        }

.buy-ticket-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

    .buy-ticket-btn:hover {
        background-color: green;
    }

    .buy-ticket-btn i {
        margin-right: 8px;
    }

.user-info {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

    .user-info a {
        color: #4caf50;
        margin-left: 2px;
        text-decoration: none;
        font-weight: bold;
    }

        .user-info a:hover {
            color: green;
        }

main {
    margin-top: -50px;
    background-color: #000;
    width: 100%; /* Chiều rộng của main bằng 100% */
}

/* Các kiểu dáng cho slider */
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel {
    margin-bottom: 0;
}

.navbar + .carousel {
    margin-top: 0;
}

/* Container cho danh sách phim */
.movie-list-container {
    color: #fff; /* Văn bản màu trắng */
    padding: 20px;
    width: 100%; /* Chiều rộng của movie-list-container bằng 100% */
    display: flex;
    flex-direction: column;
    align-items: center; /* Canh giữa theo chiều ngang */
}

.movie-card {
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #333;
    width: 230px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease, z-index 0.3s ease;
    position: relative;
    z-index: 0;
    transform-origin: center top;
    margin: 5,0,5,0;
    position: relative;
}

    .movie-card:hover {
        transform: scale(1.05); /* Hiệu ứng zoom khi hover */
        z-index: 10; /* Đảm bảo thẻ phim nằm trên cùng */
    }

.movie-card-container {
    position: relative; /* Giữ cho thẻ con không bị ảnh hưởng bởi các thẻ khác */
    overflow: visible; /* Đảm bảo phần tử chứa không cắt bỏ các phần tử bên trong */
}

.movie-icons .badge {
    font-size: 1rem; /* Kích thước chữ */
    margin: 10px; /* Khoảng cách giữa các badge */
    padding: 10px,0,0,5px /* Padding cho badge */
    display: inline-block; /* Để badge căn giữa */
}

.movie-icons {
    display: flex;
    justify-content: center; /* Canh giữa các biểu tượng */
    padding: 5px 0; /* Để badge căn giữa */
}
/* Đặt màu cho tên phim */
.movie-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px, 10px,10px,5px;
    margin-left: 15px;
    color: #32cd32; /* Màu xanh lá cây */
    white-space: nowrap; /* Không xuống dòng */
    overflow: hidden; /* Ẩn phần không thể hiển thị */
    text-overflow: ellipsis; /* Hiển thị ba dấu chấm khi quá dài */
}

/* Giảm khoảng cách giữa tên phim và thể loại */
.movie-info {
    margin-top: 5px; /* Giảm khoảng cách trên */
    font-size: 0.9rem;
    margin-left: 15px;
}

/* Đảm bảo các điều khiển carousel không bị tràn */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: none; /* Màu nền cho các điều khiển carousel */
    width: 40px; /* Đặt kích thước cho các nút */
    height: 40px;
    border: none; /* Bỏ border */
    opacity: 0.8; /* Độ mờ nhẹ */
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

    /* Hiệu ứng hover */
    .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
        background-color: #555; /* Đổi màu khi hover */
        opacity: 1; /* Làm rõ hơn khi hover */
        transform: scale(1.1); /* Phóng to một chút khi hover */
    }

.row {
    width: 100%;
    align-items: center;
}

.btn-buy {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 10px;
    width: 150px;
    font-size: 12px;
    border-radius: 5px;
    display: block; /* Để nút nằm trên cùng của movie-card */
    margin: 10px auto; /* Đặt nút nằm ở giữa */
    text-align: center; /* Căn giữa văn bản và biểu tượng trong nút */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    /* Hiệu ứng khi hover nút "Mua Vé Ngay" */
    .btn-buy:hover {
        background-color: green;
        color: white;
    }

    .btn-buy i {
        margin-right: 8px;
    }
