/* Reset margin và padding của html và body để tránh vấn đề không mong muốn */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Để tránh thanh cuộn ngang không cần thiết */
}

/* Các kiểu dáng cho Navbar */
.navbar {
    background-color: #1b1b1b;
    padding: 15px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Đảm bảo Navbar nằm trên các phần tử khác */
    justify-content: space-between;
}

.navbar-brand img {
    height: 80px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #32cd32;
    }

.navbar-nav .nav-item .dropdown-menu {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        color: #ddd;
    }

        .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
            color: #fff;
        }


.login {
    background-color: #4caf50;
    color: white;
    padding: 15px 0px 15px 0px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 660px;
}


.buy-ticket-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 20px;
    width: 180px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
}

    .buy-ticket-btn:hover {
        background-color: green;
    }


    .buy-ticket-btn i {
        margin: 0;
        font-size: 17px;
    }


.user-icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.user-info {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

    .user-info a {
        color: #4caf50;
        margin-left: 2px;
        text-decoration: none;
        font-weight: bold;
    }

        .user-info a:hover {
            color: green;
        }

/* Main */
main {
    margin: 0;
    background-color: #000;
    width: 100%;
    padding-top: 0;
}


.profile-container {
    background-color: black; /* Màu nền đen */
    color: #fff; /* Màu chữ trắng để dễ đọc trên nền đen */
}

.profile-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4caf50;
}
/* Cập nhật màu nền và border của card */
.card {
    background-color: black; /* Màu nền xám đen cho card */
    color: #fff; /* Màu chữ trắng trên card */
}

.customer-movie {
    background-color: #555;
    text-align: left;
    margin-left: 120px;
    padding-top: 10px;
    padding-left: 90px;
    border-radius: 8px;
    width: 350px;
    position: absolute;
    color: #fff;
    border: 1px solid #666;
}
/* Định dạng cho các input và textarea trên nền tối */
.form-control {
    background-color: #555; /* Màu nền xám cho input và textarea */
    color: #fff; /* Màu chữ trắng */
    border: 1px solid #666; /* Màu border */
}

    .form-control:disabled {
        background-color: #444; /* Màu nền khi input được disable */
        color: #999; /* Màu chữ khi input được disable */
    }

    .form-control:focus {
        background-color: #777; /* Màu nền không thay đổi khi focus */
        color: #fff; /* Màu chữ không thay đổi khi focus */
        border-color: 2px #4caf50; /* Màu border khi focus, có thể điều chỉnh theo nhu cầu */
        outline: none; /* Loại bỏ outline mặc định của trình duyệt */
    }
/* Định dạng cho hình ảnh hồ sơ */
.profile-img {
    width: 180px;
    height: 180px;
    align-items: center;
}

/* Cập nhật màu nền và border của nút chính */
.btn-primary {
    background-color: #007bff; /* Màu nền của nút chính */
    border-color: #007bff; /* Màu border của nút chính */
}

/* Định dạng cho các tiêu đề và nhãn */
label {
    color: #fff; /* Màu chữ trắng cho nhãn */
}

.form-check {
    margin-right: 70px;
}

.profile-info {
    list-style-type: none; /* Bỏ dấu đầu dòng */
    padding-left: 0; /* Căn sát lề trái */
    margin-top: 15px; /* Khoảng cách từ ảnh đến danh sách */
}

    .profile-info li {
        margin-left: 0; /* Đảm bảo các thẻ <li> bắt sát lề trái */
        font-family: Arial, sans-serif;
        font-size: 30px
    }



.profile-info {
    list-style-type: none; /* Bỏ dấu đầu dòng */
    padding-left: 0; /* Căn sát lề trái */
    margin-top: 15px; /* Khoảng cách từ ảnh đến danh sách */
}

    .profile-info li {
        margin-left: 0; /* Đảm bảo các thẻ <li> bắt sát lề trái */
        font-family: Arial, sans-serif;
        font-size: 30px
    }

.table {
    background-color: #C6E2FF;
}
