@page "/AddMovieType"
@using NeonCinema_Application.DataTransferObject.MovieTypes
@using NeonCinema_Client.Data.IServices.MovieType
@using NeonCinema_Domain.Enum
@inject IMovieTypeService SV
@inject NavigationManager NavigationManager
@layout LayoutAdmin
<link rel="stylesheet" href="/css/Actor/Actorr.css">
<h3 class="text-center mb-4">Add New MovieTYpe</h3>

<EditForm Model="movietype" OnValidSubmit="HandleValidSubmit" class="form-container">
    <div class="mb-3">
        <label class="form-label">Tên kiểu phim</label>
        <InputText @bind-Value="movietype.MovieTypeName" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-secondary ms-2" @onclick="NavigateBack">Hủy</button>
</EditForm>

@code {
    private MovieTypeDTO movietype = new MovieTypeDTO();

    private async Task HandleValidSubmit()
    {
        var createActorRequest = new CreateMovieTypeRequest
            {
                MovieTypeName = movietype.MovieTypeName,

            };

        await SV.CreateMovieType(createActorRequest);
        NavigationManager.NavigateTo("/listMovieType");
    }


    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/listMovieType");
    }
}