@page "/listMovieType"
@using NeonCinema_Application.DataTransferObject.MovieTypes
@using NeonCinema_Client.Data.IServices.MovieType
@using NeonCinema_Domain.Enum
@inject NavigationManager Navi
@inject IMovieTypeService SV
@layout LayoutAdmin
@* <link rel="stylesheet" href="/css/Actor/listactor.css"> *@
<h3>List of MovieType</h3>

<a class="btn btn-success mb-2" href="/AddMovieType">Add New MovieType</a>

@if (movie == null)
{
    <p><em>Loading...</em></p>
}
else if (movie.Count == 0)
{
    <p>No actors found.</p>
}
else
{
    <table class="table table-hover" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
        <thead>
            <tr>
                <th>Tên kiểu phim</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in movie)
            {
                <tr>
                    
                    <td class="table-cell">@item.MovieTypeName</td>
                   
                    <td class="table-cell">
                        <button class="btn btn-primary" @onclick="() => EditMVT(item.ID)">Edit</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private List<MovieTypeDTO> movie;

    protected override async Task OnInitializedAsync()
    {
        movie = await SV.GetAllMovieType();
    }

    private void EditMVT(Guid mvtId)
    {
        Navi.NavigateTo($"/UpdateMovieType/{mvtId}");
    }
    private void AddMVT()
    {
        Navi.NavigateTo("/AddMovieType");
    }

    

}