@page "/UpdateMovieType/{mvtId:guid}"


@using NeonCinema_Application.DataTransferObject.MovieTypes
@using NeonCinema_Client.Data.IServices.MovieType


@inject IMovieTypeService SV
@inject NavigationManager NavigationManager
@layout LayoutAdmin
@attribute [Authorize(Roles = "Admin")]

@* <link rel="stylesheet" href="/css/Actor/Actorr.css"> *@
<h3 class="text-center mb-4">Update MovieType</h3>

@if (MVT == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="MVT" OnValidSubmit="HandleValidSubmit" class="form-container">
        <div class="mb-3">
            <label class="form-label">Tên kiểu phim</label>
            <InputText @bind-Value="MVT.MovieTypeName" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-secondary ms-2" @onclick="NavigateBack">Hủy</button>
    </EditForm>
}

@code {
    [Parameter] public Guid mvtId { get; set; }
    private MovieTypeDTO MVT = new MovieTypeDTO();
    protected override async Task OnInitializedAsync()
    {
        MVT = await SV.GetByIdMovieType(mvtId);
    }
    private async Task HandleValidSubmit()
    {
        var updateMVTRequest = new UpdateMovieTypeRequest
            {
                ID = MVT.ID,
                MovieTypeName = MVT.MovieTypeName,
            };
        await SV.UpdateMpvieTYpe(MVT.ID, updateMVTRequest);

        NavigationManager.NavigateTo("/listMovieType");
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/listMovieType");
    }
}