@page "/UpdateMovieType/{mvtId:guid}"


@using NeonCinema_Application.DataTransferObject.MovieTypes
@using NeonCinema_Client.Data.IServices.IMovieType

@inject IMovieTypeService SV
@inject NavigationManager NavigationManager
@layout LayoutAdmin
@* <link rel="stylesheet" href="/css/Actor/Actorr.css"> *@
<h3 class="text-center mb-4">Update MovieType</h3>

@if (MVT == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="MVT" OnValidSubmit="HandleValidSubmit" class="form-container">
        <div class="mb-3">
            <label class="form-label">Full Name:</label>
            <InputText @bind-Value="MVT.MovieTypeName" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary ms-2" @onclick="NavigateBack">Cancel</button>
    </EditForm>
}

@code {
    [Parameter] public Guid mvtId { get; set; }
    private MovieTypeDTO MVT = new MovieTypeDTO();
    protected override async Task OnInitializedAsync()
    {
        MVT = await SV.GetMovieTypeById(mvtId, CancellationToken.None);
        
    }
    private async Task HandleValidSubmit()
    {
        var updateMVTRequest = new UpdateMovieTypeRequest
            {
                MovieTypeName = MVT.MovieTypeName,

            };
        await SV.UpdateMovieType(MVT.ID, updateMVTRequest, CancellationToken.None);

        NavigationManager.NavigateTo("/listMovieType");
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/listMovieType");
    }
}