/* General styles */
h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.table {
    width: 100%; /* Sử dụng full-width để cân bằng bố cục */
    margin: 20px auto; /* Căn giữa table */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

    .table thead th {
        background-color: #f1f1f1;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 15px;
    }

    .table tbody tr {
        text-align: center;
    }

        .table tbody tr td {
            vertical-align: middle;
            padding: 10px;
        }

.image-cell img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.table-cell {
    text-align: center;
    padding: 10px 15px;
}

/* Filter and action section */
.Actionn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}

    .Actionn .cl1,
    .Actionn .cl2,
    .Actionn .cl3 {
        flex: 1;
    }

    .Actionn .cl1 {
        margin-right: 10px;
    }

    .Actionn .cl2 {
        display: flex;
        justify-content: center;
    }

        .Actionn .cl2 label {
            margin-right: 10px;
            font-size: 16px;
        }

    .Actionn .cl3 {
        text-align: right;
       
    }

        .Actionn .cl3 .btn-success {
            background-color: #28a745;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

            .Actionn .cl3 .btn-success:hover {
                background-color: #218838;
            }

/* Input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

    input[type="text"]:focus {
        border-color: #007bff;
    }

input[type="radio"] {
    margin-right: 5px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

/* Toggle switch styling */
.form-check-input {
    width: 50px;
    height: 25px;
}

    .form-check-input:checked {
        background-color: #28a745;
        border-color: #28a745;
    }

.form-check-label {
    padding-left: 10px;
    font-size: 14px;
}
