@inherits LayoutComponentBase

<PageTitle>NeonCinema_Client</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <p class="cinema-title">NEON CINEMAS</p>
        </div>

        <article class="content px-4">
            <CinemasList />
        </article>
    </main>
</div>


